<% set_page_title(title_with_error_prefix(t("page_titles.support.#{@support_form.i_need_help_with}"), error: @support_form.errors.any?)) %>
<% set_page_robots("noindex") %>

<% content_for :back_link, govuk_back_link(href: support_path) %>

<%= form_with model: @support_form, url: false do |f| %>
  <% if @support_form.errors.any? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% if @support_form.errors.include?(:message) %>
              <li>
                <a href="#support-form-message-field-error"><%= @support_form.errors.messages_for(:message).first %></a>
              </li>
            <% end %>
            <% if @support_form.errors.include?(:name) %>
              <li>
                <a href="#support-form-name-field-error"><%= @support_form.errors.messages_for(:name).first %></a>
              </li>
            <% end %>
            <% if @support_form.errors.include?(:email_address) %>
              <li>
                <a href="#support-form-email-address-field-error"><%= @support_form.errors.messages_for(:email_address).first %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <%end%>

  <h1 class="govuk-heading-l"><%= t("page_titles.support.#{@support_form.i_need_help_with}") %></h1>

  <%= f.hidden_field :i_need_help_with %>

  <%= f.govuk_text_area @support_form.i_need_help_with.to_sym == :using_forms ? :message : :question, rows: 10, spellcheck: true %>
  <%= f.govuk_text_field :name, autocomplete: :name, spellcheck: false %>
  <%= f.govuk_email_field :email_address, autocomplete: :email, spellcheck: false %>

  <%= f.govuk_submit t("send") %>
<% end %>
